.mines-grid {
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin-top: 10px;
  margin-bottom: 0.6em;
  background: #181a1f;
  padding: 28px;
  border-radius: 9px;
  box-shadow: 0 8px 0 0 #181a1f;
  border: 2.5px solid #23262b;
  width: 540px;
  height: 540px;
  max-width: 98vw;
  max-height: 98vw;
  justify-content: center;
  align-items: center;
}

.mines-tile {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  border: none;
  background: #282b30;
  color: #fff;
  font-size: 3.2rem;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 0 0 #131416;
  transition: background 0.12s, transform 0.13s;
  outline: none;
  position: relative;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
}

@media (max-width: 650px) {
  .mines-grid {
    width: 98vw;
    height: 98vw;
    padding: 7vw;
    gap: 3vw;
  }
  .mines-tile {
    font-size: 2.3rem;
    border-radius: 5vw;
  }
}
